.headerclass {
    text-align: center;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 8px;
}

h2 {
    color: deeppink;
}

.serce {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    max-height: 300px;
}

.bodyclass {
    background-repeat: repeat;
    background-size: 160px 200px;
}

.input {
    padding: 8px 12px;
    outline: 0;
    width: 200px;
    background-color: deeppink;
    border-radius: 7px;
    border-color: black;
}

.input .input--left {
    margin-right: 270px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    height: 45vh;
    position: relative;
}

.seximages {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: flex-end;
}

.divinputclass {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: flex-start;
    font-family: sans-serif;
    bottom: 50px;
    height: 17vh;
}

.centeredtext {
    width: 200px;
    height: 100px;
    font-size: 85px;                        
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: mintcream;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}


.button {
    border-radius: 8px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-color: red;
    border-width: 3px;
    opacity: 1;
}

.fas.fa-venus {
    color: deeppink;
    font-size: 200px;
    margin-right: 275px;
}
.fas.fa-mars {
    color: mediumblue;
    font-size: 220px;
    margin-left: 270px;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 3vh;
}

.fas.fa-copyright{
    font-size: 12px;
}